body {
  margin: .5rem;
  background-color: #93b8d7;
  color: white;
}

nav a {
  color: white;
  font-size: 2.5rem;
  margin-right: .5em;
}

#social-links {
  display: none;
  color: white;
}

main {
  font-family: "Kaushan Script", fantasy, Papyrus;
  text-align: center;
  margin-top: 23vh;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-top: 2em;
}

footer {
  display: none;
}

@media (min-width: 598px) {
  #hamburger-menu {
    display: none;
  }
  #social-links {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    height: 100%;
  }
  body {
    margin: 1rem;
    background-image: url('../img/splash-md.jpg');
    background-position: center;
    background-size: cover;
    background-color: #93b8d7;
    color: white;
  }

  main {
    text-shadow: 1px 1px #153c43;
  }

  footer {
    position: fixed;
    display: block;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  body {
    background-image: url('../img/splash-lg.jpg');
  }

  nav a {
    display: show;
    font-size: 1.5rem;
  }
  h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url('../img/splash-xl.jpg');
  }
}
